/node_modules
/public/hot
/public/storage
/public/chatbot/node_modules
/public/chatbot/package-lock.json
/public/chatbot/.wwebjs_auth
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
