<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>GoDelivery</title>
</head>
<body>
	<h1>Chatbot GoDelivery v2.0</h1>
	<button onclick="return location.reload()">Recargar</button>
	<p>Escanea el QR con tu whatsapp para iniciar con el CHATBOT, si falla recarga y vuelve a interntar</p>
	<img src="qrwb.png" alt="">
	<p>Intento: <%= count %></p>
</body>
</html>